<%= form_with(model: game, local: true) do |form| %>
  <% if game.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(game.errors.count, "error") %> prohibited this game from being saved:</h2>

      <ul>
      <% game.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="container">
  <div class="row">
    <div class="shadow">
      <div class="well">
          <div class="form-group field">
            <%= form.label :title, "Game Name" %>
            <%= form.text_field :title, id: :game_title, class: 'form-control', placeholder: "Agario" %>
          </div>

          <div class="form-group field">
            <%= form.label :link, "Game URL" %>
            <%= form.text_field :link, id: :game_link, class: 'form-control', placeholder: "http://agar.io/" %>
          </div>

          <div class="form-group field">
            <%= form.label :description %>
            <%= form.text_area :description, id: :game_description, class: 'form-control' %>
          </div>

          <div class="actions text-center">
            <%= form.submit "Add Game", class: 'btn btn-primary' %>
          </div>
      </div>
    </div>
  </div>
</div>
<% end %>
