<p id="notice"><%= notice %></p>

<div class="container center">
  <br>
  <div class="jumbotron">
  <h1>Games</h1>
    <br>
    <%= link_to 'New Game', new_game_path, class: 'btn btn-success' %>
    
    <%= link_to new_game_path do %>
      <button type="button" class="btn btn-success" aria-label="Left Align">
        <span class="fa fa-plus fa-lg" aria-hidden="true"></span>
      </button>
    <% end %>

      <a class="btn btn-danger" href="#">
      <i class="glyphicon glyphicon-align-left"></i> Delete</a>
    <%= button_tag type: 'submit', class: "button my-button", id: "register-button" do %>
        <i class="fa fa-lock" aria-hidden="true"></i>
    <% end %>
  </div>
    <br></br><br></br>
    <%= link_to root_path do %>
      <button type="button" class="btn btn-default">
        <i class="fa fa-lock fa-2x" aria-hidden="true"></i>
      </button>
    <% end %>
    &nbsp; &nbsp; &nbsp;
    <%= link_to root_path do %>
      <button type="button" class="btn btn-default">
        <i class="fa fa-lock fa-2x" aria-hidden="true"></i>
      </button>
    <% end %>
    &nbsp; &nbsp; &nbsp;
    <%= link_to root_path do %>
      <button type="button" class="btn btn-default">
        <i class="fa fa-lock fa-2x" aria-hidden="true"></i>
      </button>
    <% end %>
</div>


<table>
<thead>
  <tr>
    <th>Title</th>
    <th>Link</th>
    <th>Description</th>
    <th colspan="3"></th>
  </tr>
</thead>

<tbody>
  <% @games.each do |game| %>
    <tr>
      <td><%= game.title %></td>
      <td><%= game.link %></td>
      <td><%= game.description %></td>
      <td><%= link_to 'Show', game %></td>
      <td><%= link_to 'Edit', edit_game_path(game) %></td>
      <td><%= link_to 'Destroy', game, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
</tbody>
</table>

<br>